body{
	background-color: #eb4f4e;
	padding-top: 100px;
}

@font-face {
	font-family: Bariol;
	src: url("../fonts/Bariol_Regular.otf");
}

.anchor {
	display: block;
	padding-top: 100px;
	margin-top: -100px;
}

.navbar{
	background-color: #eb4f4e;
	background-image: url("../img/navbar.png");
	background-size: 100% 100%;
	height: 100px;
}

#my-navbar .navbar-inner {
	text-align: center;
}

#my-navbar .navbar-inner .nav {
	display: inline-block;
	float: none;
	font-family: arial;
	font-size: 16pt;
	font-weight: bold;
}

.navbar-nav li a:focus, .navbar-nav li a{
	color: white !important;
}

.navbar-nav li a:hover{
	background-color:black !important;
	border-radius: 10px;
}

.navbar-default{
	border: 0;
}

.navbar-header button{
	margin-top: 40px;
	margin-right: 50px;
}

.carousel-inner .item{
	text-align: center !important;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 80px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none
}

.carousel-indicators li { visibility: hidden; }

.carousel-caption-top h3{
	font-family: Bariol;
	font-size: 60pt;
	color: white;
}

.carousel-caption-top p{
	font-family: Bariol;
	font-size: 20pt;
	color: white;
}
.about{
	background-color: #232324;
}

.about .page-header h2{
	color: #fafafa;
	font-family: Bariol;
	font-size: 40pt;
}

.about .page-header small{
	color: #d94948;
	font-family: Bariol;
	font-size: 20pt;
}

.page-header{
	border: 0;
}

.about .panel-default{
	background-color: #232324;
	border: 0;
	color: white;
}

.about .panel-body h4{
	color: #ffffff;
	font-family: Bariol;
	font-size: 30pt;
}

.about .panel-body p{
	color: #e74c3c;
	font-family: Bariol;
	font-size: 18pt;
}

.team{
	background-color: #6cc372;
}

.team .page-header h2{
	color: #fafafa;
	font-family: Bariol;
	font-size: 40pt;
}

.team .page-header small{
	color: #232324;
	font-family: Bariol;
	font-size: 20pt;
}

.team .panel-heading{
	background-color: white;
	border: 0;
}

.team .panel-default{
	min-height: 420px;
}

.team h3{
	font-family: Bariol;
	font-size: 25pt;
	color: #6cc372;
}

.team p{
	font-family: Bariol;
	font-size: 18pt;
	color: #e74c3c;
}

.team .panel-heading img{
	border: 10px solid #6cc372;
	border-radius: 100%;
}

.team .panel-body{
	height: 175px;
}

.team .panel-footer{
	background-color: #6cc372;
	color: #fafafa;
	font-family: Bariol;
	font-size: 25pt;
	margin: 10px;
}

.team .panel-footer img{
	float: left;
	padding-top: 9px;
}

.portfolio{
	background-color: #f0f0f0;
	padding-bottom: 150px;
}

.portfolio .page-header h2{
	color: #616161;
	font-family: Bariol;
	font-size: 40pt;
}

.portfolio .page-header small{
	color: #61af66;
	font-family: Bariol;
	font-size: 20pt;
}


.slider{
	width:80%;
	margin:20px auto;
	text-align:center;
}
.slider img{
	padding: 0 20px;
	margin: auto;
}

.slider p{
	font-family: Bariol;
	padding-top: 20px;
	font-size: 15pt;
}

.slick-dots li.slick-active button:before 
 { color: green;}

.slick-prev:before {
    content:url("../img/arrow1.png");
}

.slick-next:before {
    content:url("../img/arrow2.png");
}


@media (min-width: 1000px){
	.navbar-nav li a:focus, .navbar-nav li a{
		margin-left: 20px;
		margin-top:  30px;
	}
}

@media (max-width: 1000px){
	#my-navbar .navbar-inner .nav {
		font-size: 13pt;
		margin-top: 25px;
	}
	.navbar-brand{
		padding-top: 4px;
	}
}

@media (max-width: 768px){
	.navbar-collapse{
		background-color: #B53F3F;
		border-top: 2px solid black !important;
	}
	#my-navbar .navbar-inner .nav {
		font-size: 13pt;
		margin: 0;
	}
	.carousel-caption-top h3{
		font-size: 40pt;
	}

	.carousel-caption-top p{
		font-size: 16pt;
	}
}

#cye-workaround-body-image {
	height: auto !important;
}

#cye-workaround-body {
	height: auto !important;
}